<h1>Listado de Cuentas</h1>
<input type="text" ng-model="buscar.firstname">
<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Correo</th>
			<th>Nro. Cuenta</th>
			<th>Moneda</th>
			<th>Monto</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="cuenta in lista | filter:buscar">
			<td>{{cuenta.firstname}}</td>
			<td>{{cuenta.lastname}}</td>
			<td>{{cuenta.mail}}</td>
			<td>{{cuenta.accountNumber}}</td>
			<td>{{cuenta.currency}}</td>
			<td>{{cuenta.amount}}</td>
		</tr>
	</tbody>
</table>